{% extends 'core/base.html' %}

{% block title %}Proyectos{% endblock %}

{% load static %}
{% block content %}

<!--/ Intro Single star /-->
<section class="intro-single" style="margin-top: -90px;">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-8">
        <div class="title-single-box">
          <h1 class="title-single">Nuestros Proyectos</h1>
          <span class="color-text-a">Explora Nuestro Portafolio de Proyectos</span>
        </div>
      </div>
      <div class="col-md-12 col-lg-4">
        <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="#">Home</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              Properties Grid
            </li>
          </ol>
        </nav>

        <div class="col-sm-12">
          <div class="grid-option">
            <form method="GET">
              <select class="custom-select" name="category">
                <option value="All">All</option>
                {% for category in categories %}
                <option value="{{ category.id }}">{{ category.name }}</option>
                {% endfor %}
              </select>
              <button type="submit">Filter</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/ Intro Single End /-->

<!--/ Property Grid Star /-->
<section class="property-grid grid">
  <div class="container">
    <div class="row">
      


      {% for project in projects %}
      <div class="col-md-4">
        <div class="card-box-a card-shadow">
          <div class="img-box-a">
            <img src="{{ project.gallery_images.first.image.url }}" alt="{{ project.title }}" class="img-a img-fluid">
          </div>
          <div class="card-overlay">
            <div class="card-overlay-a-content">
              <div class="card-header-a">
                <h2 class="card-title-a">
                  <a href="{% url 'projects_single' project.pk %}">{{ project.title }}</a>
                </h2>
              </div>
              <div class="card-body-a">
                <a href="{% url 'projects_single' project.pk %}" class="link-a">Click here to view
                  <span class="ion-ios-arrow-forward"></span>
                </a>
              </div>
              <div class="card-footer-a">
                <ul class="card-info d-flex justify-content-around">
                  <li>
                    <h4 class="card-info-title">Categoría</h4>
                    <span>{{ project.categories.first.name }}</span>
                  </li>
                  <li>
                    <h4 class="card-info-title">Publicado el</h4>
                    <span>{{ project.published|date:"d M" }}</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}

    </div>

    <!-- Agrega el código de tu lista de proyectos aquí -->

    <!--  <div class="row">
        <div class="col-sm-12">
          <nav class="pagination-a">
            <ul class="pagination justify-content-end">
              <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">
                  <span class="ion-ios-arrow-back"></span>
                </a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#">1</a>
              </li>
              <li class="page-item active">
                <a class="page-link" href="#">2</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#">3</a>
              </li>
              <li class="page-item next">
                <a class="page-link" href="#">
                  <span class="ion-ios-arrow-forward"></span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>-->

  </div>
</section>

<!--/ Property Grid End /-->
{% endblock %}