{% extends 'core/base.html' %}

{% block content %}

{% load static %}

{% for service in services %}
<section id="service_{{ service.id }}" class="page-section">
    <div class="container foo">
      <div class="product-item">
        <div class="product-item-title item-animation">
          <div class="faded p-5 d-flex mr-auto rounded">
            <h2 class="section-heading mb-0">
              <span class="section-heading-upper">{{service.subtitle}}</span>
              <span class="section-heading-lower">{{service.title}}</span>
            </h2>
          </div>
        </div>
        <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0 item-animation" src="{{service.image.url}}" alt="">
        <div class="product-item-description d-flex ml-auto item-animation">
          <div class="faded p-5 rounded">
            <p class="mb-0">{{service.content}}</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  
  {% endfor %}
  {% endblock %}